{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@/src": "./src",
          "@/components": "./src/components",
          "@/gStyles":"./styles",
          "@/cStyles":"./src/styles"
        }
      }
    ]
  ]
}