.recommend {
  margin-top: 45px;

  .title {
    text-align: center;
    position: relative;

    & > span {
      position: relative;
      background-color: #fff;
      display: inline-block;
      padding: 0 20px;
      z-index: 2;
    }

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: #eee;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    .item {
      margin: 0 10px;
      width: 100%;

      > a {
        width: 100%;
        height: 110px;
        border-radius: 8px;
        display: block;
        background: no-repeat center;
        background-size: cover;
      }

      h4 {
        margin: 0;
        text-align: center;

        a {
          color: #666;
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
  }
}
