@import "@/gStyles/common.scss";

.container {
  padding: 20px 0;
  position: fixed;
  width: 187px;
  @include shadow;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile {
      width: 90px;
      height: 90px;

      >img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .describe {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      >p {
        max-width: calc(100% - 80px);
        margin: 14px 0;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      >p:nth-of-type(1) {
        color: #333;
        font-size: 18px;
      }

      >p:nth-of-type(2) {
        color: #999;
        font-size: 12px;
      }
    }

    .contact {
      margin: 20px 0;
      width: 50%;
      display: flex;
      justify-content: space-around;
    }

    .menuContainer {
      width: 100%;

      .menu {
        text-align: center;

        .menuItem {
          padding: 15px 0;
          border-top: 1px solid #f3f3f3;

          a {
            color: #666;
          }

          &:hover {
            background-color: #44cef6;

            a {

              color: white;
            }
          }

        }
      }
    }


  }
}